@font-face {
    font-family: OpenSans_Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-style: regular;
  }
  
  @font-face {
    font-family: OpenSans_Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*Стилизация popup*/
  .popup_hidden {
     display: none;
  }
  .popup {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
	  left: 0;
	  display: flex;
	  z-index: 10;

  }
  .popup_close {
    content: "";
	  position: relative;
	  width: 26px;
	  height: 26px;
    top: -35px;
    left: 340px;
	  background: url(../svg/form-x.svg);
  }
  .popup_container {
	  width: 390px;
    min-height: 547px;
    margin: auto;
    background-color:rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    margin-top: 235px;
    padding: 0 25px;

  }
  .item_margin {
    font: 16px OpenSans_Regular;
  }

  .popup_header {
    text-align: center;
  }
  .popup_header::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 10px auto 0;

  }
  .popup_item {
    margin: 25px 0 ;
  }
  .popup_textarea {
    margin: 25px 0 5px;
  }
  .item_margin {
    margin-bottom: 10px;
  }
  .popup_cell {
    width: 330px;
    border: none;
    background-color: #f3f7f5;
    padding: 15px 20px;
  }
  .popup_title {
    text-transform: uppercase;
    font: 20px OpenSans_Bold;
  }
  
  .select_popup {
    border: none;
    background: url("../svg/form-arrows.svg") right 17px center/ 10px no-repeat #f3f7f6;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .radio_group {
    font-size: 15px;
    color: #000000;
    cursor: pointer;
  }
  
  
  .select_popup {
    height: 50px;
  }

  .popup_button {
    height: 49px;
    background-color: #b59f5b;
    border: none;
    font: 14px OpenSans_Bold;
    color: #eeeeee;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  /*Стилизация шапки */
  .header {
    width: 100%;
    padding: 32px 5px;
    margin-bottom: 60px;
  }
  
  
  .logo {
    width: 181px;
    margin-left: 7px;
  }
  
  .menu_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu_list_item {
    font: 13px OpenSans_Regular;
    text-transform: uppercase;
  }
   
  .menu_list_item:hover {
    text-decoration: underline;
  }
  
  .menu_list_item:not(:first-child) {
    margin-left: 2.5em;
  }
  
  .link_menu_item {
    color: #ffffff;
    text-decoration: none;
  }
  
  .logo_menu {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
  }
  
  .headline {
    margin: auto;
    padding: 110px 0;
    text-align: center;
    width: 685px;
  }
  
  .title_header {
    font-family: OpenSans_Bold;
    font-size: 44px;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .header {
    position: relative;
    text-align: center;
    background-image: url(../images/banner-bg.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 1;
  }
  
  .header::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .heading_trends {
    font: 19px OpenSans_Bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1.25em;
  }
  .heading_trends::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    margin: 10px auto 0;
    background-color: #e1d9bd;
  }

  .trends_wrapper {
    display: flex;
    justify-content:space-between;
    margin-bottom: 60px;
    gap: 2px;
  }
  .trend_text_wrapper {
    border: 3px solid #b59f5b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 90%;
    width: 100%;
  }

  .trend_post {
    background-size: auto;
    min-height: 321px;
    max-height: auto;
    width: 24.8%;
    position: relative;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
    background-size: cover;

    padding: 10px;
    display: flex;
    align-items: flex-end;

  }

  .trend_one {
    background-image: url(../images/trend1.jpg); 
   
  }
  .trend_two {
    background-image: url(../images/trend2.jpg); 
  }
  .trend_three {
    background-image: url(../images/trend3.jpg);
  }
  .trend_four {
    background-image: url(../images/trend4.jpg);
  }
  .trend_post::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .tag {
    list-style-type: none;
    display: flex;
    margin: 0 0.5em 0.3em 0;
  }
  .tags_trend {
   display: flex;
  }
  .trend_tag {
    text-decoration: none;
    font: 14px OpenSans_Bold;
    color: #b59f5b;
    text-transform: uppercase;
 
  }
 
  .trend_text {
    font: 18px OpenSans_Bold;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    max-height: 90%;
  }
  .trend_text_link {
    text-decoration: none;
    color: #ffffff;
  }

  .main {
    margin: auto;
    margin-bottom: 39px;
    width: 1170px;
  }
  
  .main_wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .picture_post {
    margin-right: 30px;
  }
  .main_posts {
    margin-right: 2em;
    width: 775px;
  }
  .image {
    width: 100%;
  }
  
  .post {
    display: flex;
  }
  
  .post:not(:first-child) {
    margin-top: 60px;
  }

  
  .title_post {
    margin-top: 0;
    margin-bottom: 18px;
    font: 20px OpenSans_Bold;
    text-transform: uppercase;
  }
  
  .link_title_post {
    text-decoration: none;
    color: #0f0e0d;
  }
  
  .text_post {
    width: 49%;
  }
  
  .post_text > p {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
  }
  
  .post_text > p:not(:first-child) {
    margin-top: 1em;
  }
  
  .date_author {
    margin-bottom: 3.1em;
  }
  
  .article_tag {
    text-decoration: none;
    font: 14px OpenSans_Bold;
    color: #b59f5b;
    text-transform: uppercase;
    margin-right: 18px;
  }
  
  .tags {
    list-style-type: none;
    display: flex;
  }
  
  .time {
    color: #909090;
    margin-right: 15px;
    font: 12px OpenSans_Regular;
  }
  
  .author {
    font: 12px OpenSans_Bold;
  }
  
  .text {
    font: 14px OpenSans_Regular;
    line-height: 22px;
  }
  
  /*Стилизация aside*/
  .aside_section {
    margin-bottom: 60px;
  }
  .section_search {
    margin-bottom: 60px;
  }

  .aside {
    width: 272px;
  }
  
  .aside_post {
    display: flex;
    margin-bottom: 20px;
  }
  
  .aside_picture_post {
    margin-right: 1em;
  }
  
  .heading {
    font: 14px OpenSans_Bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
  }
  
  .heading::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    margin: 13px auto 0;
    background-color: #e1d9bd;
  }
  
  .aside_title {
    margin-top: 3px;
    font: 13px OpenSans_Bold;
    text-transform: uppercase;
  }
  
  .link_aside_title {
    text-decoration: none;
    color: #0f0e0d;
  }
.link_aside_title:hover {
  color: #b59f5b;
}
  
  /*Стилизация поиска и кнопки*/

  
  .field {
    height: 48px;
    border: none;
    background-color: #f4f7f6;
    padding: 6px 12px;
    outline: none;
    width: 225px;
    position: absolute;
  }
  .field:focus {
    border: 1px solid #b59f5b;
  }
  .button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    font-size: 0;
    border-style: none;
    vertical-align: top;
    padding: 0px;
  
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    left: 225px;


  }
  
  .button:nth-child(2):hover {
    width: 48px;
    height: 48px;
    background-color: #000000;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    font-size: 0;
    border-style: none;
    vertical-align: top;
  }
  
  .button_email {
    width: 272px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 50px;
  }
  
  .button_email:hover {
    background-color: #323232;
  }
  
  .field_email {
    width: 272px;
    height: 50px;
    border-style: none;
    background-color: #f4f7f6;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  
  /*Стилизация тегов эсайд*/
  .section_tags {
    margin-bottom: 50px;
  }
  .aside_tags {
    display: flex;
    flex-wrap: wrap;
    width: 272px;
  }
  .aside_tag {
    list-style-type: none;
    font: 14px OpenSans_Bold ;
    color: black;
    text-transform: uppercase;
    border: 3px solid #eeeeee;
    padding: 3px 10px;
    margin: 4px 4px 0 0;
    display: block;
  }
  .aside_tag:hover {
    border: 3px solid #b59f5b;
  }

  /*Стилизация тем*/
  .topic_amount {
    color: #b59f5b;
    font: 12px OpenSans_Bold;
    vertical-align: super;
  }
  
  .topic_item {
    margin-top: 8px;
    font: 13px OpenSans_Bold;
    text-transform: capitalize;
    border-bottom: 2px solid #eeeeee;
    height: 43px;
  }
  
  .link_topic_item {
    text-decoration: none;
    color: #0f0e0d;
  }
  .link_topic_item:hover {
    color: #b59f5b;
  }
  
  .topics {
    list-style-type: none;
  }
  /*стилизация магазина*/

.shop_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.shop_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
}


.product_description {
  margin-bottom: 15px;
  font: 15px OpenSans_Regular;
}

.shop_link {
  color: #b59f5b;
  text-decoration: none
}

.text_button_shop {
  background-color: #b59f5b;
  padding: 17px 30px;
  font: 13px OpenSans_Bold;
  text-transform: uppercase;
}
.link_button {
  text-decoration: none;
  color: #ffffff;
}
.price_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 17px;
}
.wrapper_text_price {
 border: 3px solid #b59f5b;
 padding: 20px;
 display: flex;
 align-items: center;
 flex-direction: column;
 height: 100%;

 position: relative;
 bottom: 36px;

}
.text_shop {
  margin-bottom: 20px; 
}
.title_shop {
  margin-top: 25px;
  margin-bottom: 10px;
  font: 20px OpenSans_Bold;
  text-transform: uppercase;
}
.price_shop {
  display: flex;
  flex-direction: column;
  font: 14px OpenSans_Bold;
}

.old_price {
  text-decoration: line-through;
  font-size: small;
}
.new_price {
  font-size: large;
}


  
  /*Стилизация соц.сетей*/
  .footer {
    margin-bottom: 40px;
  }
  
  .footer_wrapper {
    width: 1170px;
    margin: auto;
  }
  
  .socials {
    padding: 35px 0;
    background-color: #f4f7f6;
    margin-bottom: 60px;

  }
  
  .socials_list {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  .social_network_icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
  }
  
  .visually_hidden {
    visibility: hidden;
  }
  
  .social_dribble_link {
    background-image: url(../svg/001-dribbble.svg);
  }
  
  .social_pinterest_link {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .social_twitter_link {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .company_copyright {
    text-align: center;
  }
  
  .link_company {
    font-size: 14px;
    text-decoration: none;
    color: grey;
    font-family: "OpenSans_Regular";
    text-align: center;
  }
  


  @media (min-width: 641px) and (max-width: 1200px ) {

    
    .header {
    padding: 35px;
    background-image: url(../images/banner-bg-tablet.jpg);
    width: 100%;
    margin-bottom: 40px;
    }
    .headline {
      width: 610px;
      padding: 90px 0;
    }
    .title_header {
      font-size: 38px;
    }
    .logo_menu {
      width: auto;
    }

    .logo {
      width: 160px;
    }

    .menu_list {
      display: none;
    }

    .menu {
      content: " ";
      height: 20px; 
      width: 25px;
      border-bottom: 12px double rgb(255, 255, 255); 
      border-top: 4px solid rgb(255, 255, 255); 
    }

    .trends_wrapper {
      flex-wrap: wrap;
      padding: auto;
      margin-bottom: 40px;
    }
    .trend_post {
      width: 49.5%; 
      min-height: 250px;    
      margin: auto;
      margin-bottom: 3px;
    }
    .trend_text {
      font: 19px OpenSans_Bold;
    }
    .heading_trends {
      margin: 0 0 20px;
    }
    .main {
      margin-bottom: 10px;
      width: 100%;
      padding: 0 35px;
    }
    .main_wrapper {
      margin-bottom: 60px;
    }
    .date_author {
      margin-bottom: 30px;
    }

    .main_posts {
      margin: auto;
    }
    .text_post {
      width: 100%;
    }
    
    .post {
      display: flex;
      flex-direction: column;
      margin-right: 45px;

    }
    .post:not(:first-child) {
      margin-top: 65px;
    }
    .picture_post {
      width: 100%;
    }
    

    .title_post {
      margin-top: 0.5em;
      margin-bottom: 25px;
      font: 17px OpenSans_Bold;
    }

    .aside_post {
      width: 100%;
    }

    .aside_tags {
      width: 100%;
    }

    .shop_wrapper {
      justify-content: space-between;
      flex-wrap: wrap;

    }

    .text_shop {
      margin-bottom: 4px;
    }

    .picture_shop {
      width: calc(44vw - 45px);
    }
    .shop_item {
      flex-basis: calc(50% - 11px);
    }
    .shop_wrapper {
      column-gap: 22px;
    }

    .wrapper_text_price {
      padding: 25px 15px;
      width: 100%;
    }
    .shop {
      width: 100%;
    }
    .footer_wrapper {
      width: 90%;
    }
    .socials {
      margin-bottom: 15px;
    }

    }
  


  
  @media  (max-width: 640px ) {
    .popup {
      padding: 0 15px;
    }
    .popup_container {
      width: 100%;
      padding: auto;
      margin-top: 55px;
    }
    .popup_item {
      width: 100%;
    }
    .popup_cell {
      width: 100%;
    }
    .popup_close {
      top: -34px;
      left: 99%;

    }

    .header {
      padding: 0%;
      background-image: url(../images/banner-mobile.jpg);
      margin-bottom: 30px;
    }

    .logo {
      width: 272px;
      margin: 0 auto 35px;
    }
    .headline {
      text-align: center;
      width: 300px;
      padding-top: 1px;
      padding-bottom: 200px;
    }
    .menu {
      content: " ";
      height: 20px; 
      width: 25px;
      border-bottom: 12px double rgb(255, 255, 255); 
      border-top: 4px solid rgb(255, 255, 255); 
      margin-left: 90%;
      margin-top: 30px;
      margin-bottom: 180px;
    }
    
    .title_header {
      font-size: 27px;
    }
    .logo_menu {
      justify-content: center;
      flex-direction: column-reverse;
      align-self: end;
      width: auto;

    }
    .menu_list {
      display: none;
    }
    
    .trends_wrapper {
      flex-direction: column;
      justify-content: center;
    }
    .trend_post {
      width: 100%;
      margin: 0 0 3px;
      min-height: 230px;
    }
    .trend_text_wrapper {
      width: 100%;
    }
    .trend_text {
      font-size: 1rem;
    }
    .main {
      width: 100%;
      padding: 0 25px;
    }
    .main_wrapper {
      flex-direction: column;
    }
    .main_posts {
      margin: 0 0 30px;
      width: auto;
    }
    .post {
      flex-direction: column;
  
    }
    .picture_post {
      margin: auto;
      width: 100%;
      
    }
    .date_author {
      margin-bottom: 6px;
    }

    .title_post {
      font-size: 17px;
      margin-bottom: 7px;
    }
    .text_post {
      width: 100%;
    }
    .aside {
      width: 100%;
    }
    .field {
      width: 90%;
    }
    .button {
      left: 90%;
    }
    .button_email {
      width: 100%;
    }
    .field_email {
      width: 91vw;
    }
    .aside_tag {
      font-size: 12px;
    }
    .aside_tags {
      width: 100%;
  }
    .shop_wrapper {
      flex-direction: column;
    }

    .picture_shop {
    width: 80vw;
    }
    
    .wrapper_text_price {
      width: 92vw;
    }
    .footer_wrapper {
      width: 91%;
    }
    .socials {
      margin-bottom: 25px;
    }

  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape){
    
    .trends_wrapper {
      flex-wrap: nowrap;
    }
    .trend_text_wrapper {
      padding: 15px;
    }

    .trend_post {
      width: 100%;
      min-height: 300px;
  }
}
@media (min-width: 641px) and (max-width: 900px) and (orientation: landscape){
    
  .trend_text {
    font-size: 14px;
  }
  .trend_tag {
    font-size: 10px;
  }

}
@media (max-width: 640px) and (orientation: landscape) {
 
  .trends_wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .trend_post {
    width: 49.5%; 
    min-height: 230px;    
    margin: auto;
    margin-bottom: 3px;
  }
  .trend_text {
    font-size: 14px;
  }
  .trend_tag {
    font-size: 10px;
  }

}